In [15]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

df=pd.read_csv('C:/Users/H.A/Desktop/Formation Data science/Checkpoint Univariate Analysis/R_Examples/HR_comma_sep.csv')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [16]:
np.corrcoef(df['average_montly_hours'], df['number_project'])

array([[1.        , 0.41721063],
       [0.41721063, 1.        ]])

In [31]:
average_montly_hours = df[['average_montly_hours']]
number_project = df[['number_project']]

model = LinearRegression().fit(number_project,average_montly_hours) #Create a model and fit it
r_sq = model.score(number_project, average_montly_hours)
print('coefficient of determination:', r_sq)
print('intercept:', model.intercept_)
print('coef:', model.coef_)
print(" average_montly_hours =",model.coef_,"*number_project+",model.intercept_)

coefficient of determination: 0.17406471345793328
intercept: [136.76027694]
coef: [[16.90485267]]
 average_montly_hours = [[16.90485267]] *number_project+ [136.76027694]